@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    block-size: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#s-main {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    flex-direction: column;
    color: white;
    background-color: black;
    width: 100%;
    height: 100vh;
    margin: 0;
    transition: all 0.3s ease-in-out;
}
div {
    margin-right: 5%;
    text-align: right;
}
#isNight{
    margin-bottom: 5%;
}

.morning {
    background: linear-gradient(143deg, #2980b9, #1565C0);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 51s ease infinite;
    -moz-animation: AnimationName 51s ease infinite;
    animation: AnimationName 51s ease infinite;
}

.afternoon {
    background: linear-gradient(143deg, #1565C0, #c33764);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 51s ease infinite;
    -moz-animation: AnimationName 51s ease infinite;
    animation: AnimationName 51s ease infinite;
}

.night {
    background: linear-gradient(143deg, #c33764, #0f0c29);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 51s ease infinite;
    -moz-animation: AnimationName 51s ease infinite;
    animation: AnimationName 51s ease infinite;
}

.midnight {
    background: linear-gradient(143deg, #0f0c29, #2980b9);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 51s ease infinite;
    -moz-animation: AnimationName 51s ease infinite;
    animation: AnimationName 51s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:26% 0%}
    50%{background-position:75% 100%}
    100%{background-position:26% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:26% 0%}
    50%{background-position:75% 100%}
    100%{background-position:26% 0%}
}
@keyframes AnimationName {
    0%{background-position:26% 0%}
    50%{background-position:75% 100%}
    100%{background-position:26% 0%}
}
h1, h2, h4 {
    margin: 0;
}

h1 {
    font-size: 6vh;
}
h2 {
    font-size: 4vh;
}
h4 {
    font-size: 2vh;
}